
// Import the styles defined in styles.less so they are usable in this file
@import (reference) "styles.less";

body {

	width: 100%;
	background: #ffffff url("/_assets/img/bg/gray_jean.png") repeat;

}

a, a:active, a:visited {
	
	color: @brand-light-blue;	
	text-decoration: none;
	border-bottom: 1px solid @brand-light-blue;
	padding-bottom: 2px;
	
}

#content {	
	
	position: relative;
	background: #ffffff;	
	width: @site-width;
	margin: 25px auto 25px auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #afafaf;

	p, a, button, #count, li {

		font-family: @body-font;

	}

	p {

		font-size: 12px;
		line-height: 1.4em;
		margin-bottom: 15px;

	}

	h2, h3, h4, h5 {

		font-weight: normal;
		font-family: @heading-font;
		text-transform: uppercase;	
		color: @brand-dark-blue;	

	}

	.btn:hover {

		color: @brand-dark-blue !important;

	}

}

// ================================================
//	# Header
// ================================================

header#top {
	
	position: relative;
	height: 110px;	
	padding-bottom: 5px;
	margin-bottom: 0px;		

	div {

		width: 100%;			

		a {

			display: block;
			float: left;
			border: none;			

		}

		img {

			float: left;
			position: relative;
			z-index: 1;
			margin: 13px 0 20px 15px;

		}

		img#l-text {

			margin : 41px 0 20px 15px;

		}

	}

	nav {

		width: 100%;
		height: 50px;
		position: absolute;
		top: 28px;
		left: 0;
		z-index: 0;
		background: @brand-light-blue;	
		-webkit-box-shadow: 0px 5px 10px 2px #a9a9a9;
		box-shadow: 0px 5px 10px 2px #a9a9a9; 

	}

	nav ul {

		float: right;
		height: 100%;

	}

	nav li {

		float: left;
		padding: 15px 10px 10px 10px;

	}

	nav li a {
		
		float:left;
		margin-top:2px;
		-webkit-box-shadow: 1px 2px 5px 6px @brand-light-blue;
		box-shadow: 1px 2px 5px 6px @brand-light-blue;
		font-weight: normal;
		font-size: 16px;

	}

	nav li a:hover {
			
		border-bottom: 1px solid #ffffff;

	}

	nav li span.ico {

		.nav-ico;
		.ico;

	}

	nav li span.ico.home:before {

		.nav-home; 

	}

	nav li span.ico.who:before {

		.nav-who;

	}

	nav li span.ico.portfolio:before {

		.nav-portfolio;

	}	

	nav li span.ico.contact:before {

		.nav-contact;

	}

	nav li a, nav li a:active, nav li a:visited {
	
		color : #ffffff;
		text-decoration : none;

	}

	span.banner {

		position: absolute;
		top: 28px;
		width: 9px;
		height: 58px;
		background: url('/_assets/img/side-banner.png') no-repeat;
		overflow: hidden;
		z-index: 2;

	}

	span.banner.left {

		left: -8px;

	}

	span.banner.right {

		right: -8px;
		background-position: -10px 0;

	}

}

// ================================================
//	# page
// ================================================

#content div.page {
	
	position: relative;
	width: 960px;
	padding: @site-padding;
	float: left;
	min-height: 580px;
	margin-bottom: 60px;

	h2 {

		font-size: 18px;
		font-weight: normal;
		color: @brand-light-blue;
		margin-bottom: 25px;
	}

	p {

		font-size: 14px;	

	}

}

div.page.home {

	h2 {

		margin-bottom: 10px;

	}

}

// ================================================
//	# Homepage Carousel
// ================================================

.home {

	.intro {

		width: 100%;
		margin-bottom: @site-spacing;

		p {

			font-size: 16px !important;
			text-align: left;

			span {

				.brand-hl;

			}

		}

		p#welcome {

			font-size:22px;

		}

	}

	#top {

	    position: relative;
	    float: left;
	    width: 100%;
	    height: 290px;
	    background: #ffffff;
	    margin-bottom: 60px;

	    ul#items {

		    position: relative;
		    width: 957px;
		    height: 290px;
		    margin: 0;
		    border: 1px solid @brand-light-blue;	
		    margin-bottom: @site-spacing;

		}

	    ul#items li {
		    
		    display: none;
		    position: absolute;
		    top: 0;
		    left: 0;
		    float: left;
		    opacity: 0;
		    width: 100%;

		    div.bg {

			    position:absolute;
			    top:0;  
			    width:695px;
			    height:290px;

			}

			div.dets {

				position: absolute;
				top: 0;
				height: 290px;
				width: 245px;
				padding-left:15px;
		    	padding-right:15px;

				 h3 {

				    width: 100%;
				    font-size: 15px;
				    padding: 0;
				    margin: 35px 0 15px 0;
				    color: @brand-light-blue;

				}

				p {

				    width: 100%;
				    line-height: 1.8em;
				    color: @brand-dark-blue;
				    margin-bottom: 15px;
				    font-size: 12px;

				}

				a {				

					.button;

				}
			}
		}
	   
	

		li.first {

		    opacity: 1;
		    display:block;

		}

		li.right div.dets {

		    left: 0;

		    p, h3, a {

		    	text-align: left;

		    }

		    a {

		    	float: left;

		    }

		}

		li.right div.bg {

		    right: 0;
		    background-position: -260px 0 !important;

		}

		li.left div.dets {

		    right:0;

		    p, h3, a {

		    	text-align: right;

		    }

		    a {

		    	float:right;

		    }

		}
	}
}



// ================================================
//	# Homepage work focus
// ================================================

.home .focus {

	width: 100%;
	clear: both;
	float: left;

	.item {

		position: relative;
		width: 232px;
		height: 235px;
		float: left;
		margin-right: 9px;
		list-style: none;
		overflow: hidden;

 		h3 {

 			width: 100%;
 			text-align: center;
 			color: @brand-light-blue !important;
 			margin-bottom: 5px;
 			font-weight: normal;
 			font-size: 16px;

 		}

		div.mask {

			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			z-index: 10;
			margin-bottom:15px;
			background: url('/_assets/img/img-mask.png') no-repeat;

		}

		img {
			
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

		}

		span {

			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			background: #000000;
			opacity: 0;
			z-index: 3;
			transition: opacity .25s ease-in-out;
   			-moz-transition: opacity .25s ease-in-out;
	   		-webkit-transition: opacity .25s ease-in-out;

		}

		.iContent {

			position:absolute;
			top: 30px;
			left: 30px;
			width: 160px;
			z-index: 11;

			h3, p {

				width: 100%;
				text-align:center;
				opacity: 0;				
				transition: opacity .25s ease-in-out;
   				-moz-transition: opacity .25s ease-in-out;
	   			-webkit-transition: opacity .25s ease-in-out;
	   			font-size: 13px !important;

			}

			h3 {

				color: @brand-light-blue;

			}

			p {

				color: #ffffff;
				line-height: 1.6em;

			}

		}

	}

	.item:last-child {

		margin-right: 0;

	}

	.item:hover {

		cursor: pointer;

		span {

			opacity: 0.7;	

		}

		h3, p {

			opacity : 1;

		}
		
	}

}


// ================================================
//	# Who are we
// ================================================


#content .who {

	.intro {

		margin-bottom: 25px;

	}

	.module {

		float:left;
		width: 100%;
		clear: both;
		margin-bottom: 25px;

		.lhs, .rhs {

			float: left;

		}

		h3 {

			margin-bottom: 25px;
			padding-bottom: 5px;
			border-bottom: 1px solid @brand-light-blue;

			a {

				border: none;

			}

			a:hover {

				text-decoration: none;
				color: @brand-light-blue;

			}

		}

		p {

			font-size: 12px !important;

		}

		img {

			border: 2px solid @brand-light-blue;
			-webkit-border-radius: 5px;
			border-radius: 5px;

		}

	}

	.module.left {

		.lhs {

			width: 250px;

			img {

				margin-right: 25px;

			}

		}

		.rhs {

			width: 705px;

		}

	}

	.module.right {

		.lhs {

			width: 705px;

		}

		.rhs {

			width: 250px;

			img {

				float:right;

			}

		}

	}

}

// ================================================
//	# Portfolio
// ================================================

#content .portfolio {


	section {

		width: 100%;
		float: left;
		clear: both;
		margin-bottom: 25px;		

		.item {

			position: relative;
			width: 115px;
			height: 114px;
			float: left;
			margin-right: 18px;
			list-style: none;
			overflow: hidden;
			
			a {

				display: block;

			}

	 		h3, h4 {

	 			width: 100%;
	 			text-align: center;
	 			color: @brand-light-blue !important;
	 			margin-bottom: 5px;
	 			font-weight: normal;
	 			font-size: 11px;
	 			line-height: 1.5em;

	 		}

			div.mask {

				position: absolute;
				top: 0;
				left: 0;
				width: inherit;
				height: inherit;
				z-index: 10;
				margin-bottom:15px;
				background: url('/_assets/img/img-mask-sml.png') no-repeat;

			}

			img {
				
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;

			}

			span {

				position: absolute;
				top: 0;
				left: 0;
				width: 114px;
				height: 113px;
				background: #000000;
				opacity: 0;
				z-index: 3;
				transition: opacity .25s ease-in-out;
	   			-moz-transition: opacity .25s ease-in-out;
		   		-webkit-transition: opacity .25s ease-in-out;

			}

			.iContent {

				position: absolute;
				top: 25px;
				left: 0;
				width: 100%; 
				height: 100%;
				z-index: 11;

				h3 {

					width: 100%;
					height: 100%;
					text-align:center;
					line-height: 20px;
					opacity: 0;		
					display: inline-block;		
					vertical-align: middle;
					transition: opacity .25s ease-in-out;
	   				-moz-transition: opacity .25s ease-in-out;
		   			-webkit-transition: opacity .25s ease-in-out;
		   			margin: 0;

				}

				h3, h4 {

					color: @brand-light-blue;

				}

			}

		}

		.item:last-child {

			margin-right: 0;

		}

		.item:hover {

			cursor: pointer;

			span {

				opacity: 0.7;	

			}

			h3, h4 {

				opacity : 1;

			}
			
		}

	}
	
	section.projects {

		h2 {

			width: 100%;
			padding-bottom: 5px;
			color: @brand-dark-blue;
			border-bottom: 1px solid @brand-light-blue;

		}

	}	

}

// ================================================
//	# Portfolio item details
// ================================================

#content .portfolio-detail {


	section:not(#top) {

		h2 {

			color: @brand-dark-blue;
			padding-bottom: 3px;
			border-bottom: 1px solid @brand-light-blue;

		}

	}

	section#overview {

		float: left;
		width: 100%;
		margin-bottom: 25px;

		.lhs, .rhs {

			float:left;
			min-height: 200px;			

		}

		.lhs {

			margin-right: 25px;

		}

		.rhs {

			width: 490px;		

		}

		.preview {

			width: 427px;
			height: 307px;
			margin-bottom: 15px;
			border: 1px solid @brand-light-blue;
			padding: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: @brand-light-blue;

			div {

				width: 100%;
				height: 100%;
				background: #ffffff;

			}

			img {

				border: 3px solid #ffffff;

			}

			img:hover {

				cursor: pointer;

			}

		}

		.carousel {

			width: 100%;
			height: 58px;			

			ul {

				position: absolute;
				top: 0;
				left :0;

			}

			span.cntrl {

				position: relative;
				float: left;
				width: 20px;
				height: 50px;
				background: @brand-light-blue;	
				margin-top: 3px;								

				span.icon {

					position: absolute;
					top: 15px;	
					left: 1px;				
					width: 20px;
					height: 20px;
					.ico;				
					font-size: 22px;
					color: #ffffff;												

				}

			}

			span.cntrl:hover {

				cursor: pointer;

			}

			span.cntrl:hover span.icon {

				color: @brand-dark-blue;

			}

			span.cntrl.nxt {

				float: right;
				margin-left: 5px;

			}

			span.cntrl.nxt span.icon:before {

				.next-btn;
				right: 2px;

			}

			span.cntrl.pre {

				margin-right: 5px;				

			}

			span.cntrl.pre span.icon {

				left: -1px;

			}

			span.cntrl.pre span.icon:before {

				.previous-btn;				

			}

			div {

				position: relative;
				float: left;
				width: 384px;
				height: 100%;
				overflow: hidden;
				margin-left: 3px;

				ul {

					width: 10000px;
					list-style: none;
					padding: 0;
					margin: 0;

					li {

						float:left;
						margin-right: 1px;
						width: 70px;
						height: 50px;
						border: 3px solid #ffffff;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;

					}

					li.active {

						border: 3px solid @brand-light-blue;

					}

					li.last {

						margin: 0;

					}

					li:hover:not(.active) {

						cursor: pointer;
						border:3px solid #c6c6c6;

					}

				}

			}
			
		}

		.tech {

			ul {

				padding: 0;
				margin-left: 15px;

			}

			ul li {

				float:left;
				margin-right: 15px;
				margin-bottom: 10px;
				width: 140px;
				color: @brand-light-blue; 

				span {

					color: @brand-dark-blue;

				}

			}	
				
		}

	}

	section#description {

		clear: both;

		h3 {

			margin-bottom: 15px;
			color: @brand-light-blue;

		}

	}

}

body #overlay:hover {

	cursor: pointer;

}

// ================================================
//	# Contact
// ================================================


#content .contact {

	section {

		width: 415px;
		float: left;
		margin: 0 25px 25px 0;
		padding:25px;
		border: 1px solid @brand-light-blue;

		h3 {

			margin-bottom: 25px;

		}

		a {

			width: 100%;
			text-align: center;
			float: left;
			border: none;
			font-size: 18px;

		}

	}

	section.last {

		margin-right: 0;

	}

}

// ================================================
//	# Footer
// ================================================

footer#bottom {
	
	position: relative;
	clear: both;
	width: (@site-width - 20);
	padding: @site-padding;
	background: @brand-dark-blue;
	border-top: 1px solid @brand-light-blue;

	section {

		float: left;
		margin-bottom: 15px;

		h2 {

			font-size: 18px;
			margin-bottom: 20px;
			color: @brand-light-blue;

		}		

		form {

			ul {

				margin: 0;

				li {

					width: 100%;
					list-style: none;
					margin-bottom: 15px;


					input {

						padding: 5px;
						width: inherit;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						border: 2px solid @brand-light-blue;

					}

					input.error, textarea.error {

						border: 2px solid red;

					}

					textarea {

						width: 100%;
						height: 110px;						
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						border: 2px solid @brand-light-blue;

					}

				}

				li.sbm button {

					.button;
					float: right;

				}

			}

			ul.lhs {

				width: 300px;
				float:left;

			}

			ul.rhs {

				width: 300px;				
				float: right;
				margin-right: 50px;

			}

		}

		p {

			float: left;
			clear: both;
			display: none;			

		}

		p.success {

			color: #45f65a;

		}

		p.error {

			color: red;

		}

	}

	nav li {

		float: left;
		clear: both;
		margin-bottom: 10px;		

		a {

			float: left;	
			border-bottom: 1px solid @brand-dark-blue;		

		}

		a:not(first-child) {

			margin-top: 3px;

		}

		a:hover {

			border-bottom: 1px solid #ffffff;

		}

	}

	nav li span.ico {

		.nav-ico;
		.ico;

	}

	nav li span.ico.home:before {

		.nav-home; 

	}

	nav li span.ico.who:before {

		.nav-who;

	}

	nav li span.ico.portfolio:before {

		.nav-portfolio;

	}	

	nav li span.ico.contact:before {

		.nav-contact;

	}

	nav li a, nav li a:active, nav li a:visited {
	
		color : #ffffff;
		text-decoration : none;

	}

	a {

		border: none;

	}

	section#left {

		width: 700px;	
		border-right: 1px solid #ffffff;	

	}

	section#right {

		width: 200px;
		padding-left: 50px;

		h2 {

			text-indent: -10000px;
			
		}

	}

	nav li a, nav li a:active, nav li a:visited {

		color : #ffffff;
		text-decoration : none;

	}

	p.copyright {

		width: 100%;
		color: #ffffff;
		display: block;
		clear: both;
		text-align: right;
		margin: 0;

	}

}


// ================================================
//	# 800px wide
// ================================================

@media (max-width : 800px) {
	
	body {
		background : red;
	}

}

// ================================================
//	iPad - Landscape
//  To simulate this on desktop set the query to max-width: 1024px only
// ================================================

@media (max-device-width: 1024px) and (orientation: landscape) {
	

}

// ================================================
//	iPad - portrait
//  To simulate this on desktop set the query to max-width: 768px only
// ================================================

@media (max-device-width: 768px) and (orientation: portrait) {
	

}