@font-face {

	font-family: 'icomoon';
	src:url('/_assets/fonts/icomoon.eot');
	src:url('/_assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/_assets/fonts/icomoon.ttf') format('truetype'),
		url('/_assets/fonts/icomoon.woff') format('woff'),
		url('/_assets/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {

    font-family: 'gotham_x_light';
    src: url('/_assets/fonts/gotham-xlight-webfont.eot');
    src: url('/_assets/fonts/gotham-xlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_assets/fonts/gotham-xlight-webfont.woff') format('woff'),
         url('/_assets/fonts/gotham-xlight-webfont.ttf') format('truetype'),
         url('/_assets/fonts/gotham-xlight-webfont.svg#gothamextra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'gotham_thin';
    src: url('/_assets/fonts/gotham-thin-webfont.eot');
    src: url('/_assets/fonts/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_assets/fonts/gotham-thin-webfont.woff') format('woff'),
         url('/_assets/fonts/gotham-thin-webfont.ttf') format('truetype'),
         url('/_assets/fonts/gotham-thin-webfont.svg#gothamthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'gotham_book';
    src: url('/_assets/fonts/gotham-book-webfont.eot');
    src: url('/_assets/fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_assets/fonts/gotham-book-webfont.woff') format('woff'),
         url('/_assets/fonts/gotham-book-webfont.ttf') format('truetype'),
         url('/_assets/fonts/gotham-book-webfont.svg#gothambook') format('svg');
    font-weight: normal;
    font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* http://icomoon.io */

.icon-home:before {
	content: "\e600";
}
.icon-accessibility:before {
	content: "\e601";
}
.icon-users:before {
	content: "\e602";
}
.icon-cogs:before {
	content: "\e603";
}
.icon-share:before {
	content: "\e604";
}
.icon-phone:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}