
// Site 
@site-width : 980px;
@site-padding : 10px;
@content-background : #ffffff;
@brand-light-blue : #13b5ea;
@brand-dark-blue : #162732;
@site-spacing : 35px;
@body-font : gotham_x_light;
@heading-font: gotham_book; 

.ico {
		
	font-family:icomoon;
	peak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}


// Nav links

.nav-ico {

	float:left;	
	width:18px;
	height:20px;
	color:#ffffff;
	margin-right:10px;
	font-size:18px;

}

.nav-home {

	content:"\e600";

}

.nav-who {

	content: "\e602";
	
}

.nav-portfolio {

	content: "\e603";
	
}

.nav-contact {

	content: "\e604";

}

// Buttons

.button {
	
	background: @brand-light-blue !important;
	background: linear-gradient(to bottom, @brand-light-blue 0%, #60ABF8 44%, @brand-dark-blue 100%) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #4096EE inset;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

}

// Brand

.brand-hl {
	
	color: @brand-light-blue;

}

// Portfolio carousel

.next-btn {
	
	content: "\e606";

}

.previous-btn {
	
	content: "\e607";

}

